.footer{
    margin: auto;
    background-color: #F9B572;
    color:white;
    text-align: center;
    padding-bottom: 4px;
}
.footer a{
    text-decoration: none;
    /* text-decoration-color: #F9B572; */
    /* color: */
}